:root{
    --clr-primary-white: hsl(0, 0%, 100%);
    --clr-primary-lightgray: hsl(212, 45%, 89%);
    --clr-primary-grayishblue: hsl(220, 15%, 55%);
    --clr-primary-darkblue: hsl(218, 44%, 22%);
    --ff-primary: 'outfit', sans-serif;
    --fs-base: 15px;
}


