.qr_code_card{
    width: 325px;
    background-color: var(--clr-primary-white);
    border-radius: 1rem;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img{
        
        max-width: 100%;
        min-width: 100%;
        position: relative;
        border-radius: 1rem;
    };
    
    p{
        font-family: var(--ff-primary);
        text-align: center;
        color: var(--clr-primary-grayishblue);
        margin: 1rem;
        font-weight: 400;
    }

    h1{
        
        color: var(--clr-primary-darkblue);
        text-align: center;
        font-weight: 700;
        font-size: x-large;
        margin: .5rem;
        margin-top: 1rem;
    }
}


